/* Gunakan class ini untuk mengatur gambar profile */
main {
    padding-bottom: 20px; /* Atur padding bawah di dalam main */
}
.profile-photo {
    width: 200px; /* Atur ukuran gambar profile */
    height: 200px;
    border-radius: 50%; /* Agar gambar profile menjadi lingkaran */
    margin-bottom: 20px; /* Berikan jarak bawah dari gambar profile ke menu items */
}
.profile-section .bi-pencil-fill {
    font-size: 1.5rem; /* Adjust the font size of the pencil icon */
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
}
/* Atur warna ikon medal menjadi warna tertentu */
.menu-item .bi-award {
    color: gold; /* Ganti warna ikon medal menjadi emas */
}

/* Rapihkan tampilan navigasi */
.card-header {
    margin-bottom: 15px; /* Berikan jarak bawah dari header ke content */
}
.nav-pills .nav-link.active {
    background-color: #f0f0f0; /* Warna latar belakang untuk tab aktif */
    color: #555; /* Warna teks untuk tab aktif */
}
/* Rapihkan jarak antara form elements */
.card-body form {
    margin-bottom: 20px; /* Berikan jarak antara form elements */
}
.card {
    margin-bottom: 20px; /* Berikan jarak antara card */
}

/* Atur spasi antara card dan nav-pills */
.card .card-header {
    margin-bottom: 0;
}
.layout-menu .app-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Styling the profile photo */
.layout-menu .app-brand .medals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.centered {
    text-align: center;
    width: 100%; /* Membuat teks menjadi 100% lebar */
}
.medal-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Adjust color */
    font-weight: bold;
}
.medals .bi-award,
.medals .menu-icon {
    font-size: 24px; /* Adjust icon size */
}
.layout-menu .app-brand .profile-section {
    margin-top: 20px; /* Atur margin atas */
}
/* CSS Untuk Header */
.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Sesuaikan z-index agar header tetap di atas konten lain */
    background-color: #B4C9C7;
    padding: 15px;
}

/* CSS Untuk Footer */
.container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Sesuaikan z-index agar footer tetap di atas konten lain */
    background-color: #445A67;
    padding: 15px;
}

/* CSS Untuk Konten di Tengah */
main {
    padding-top: 100px; /* Sesuaikan dengan tinggi header */
    padding-bottom: 50px; /* Sesuaikan dengan tinggi footer */
    /* Jangan lupa untuk mengatur ketinggian dan overflow pada konten jika diperlukan */
    /* Contoh: height: 1000px; overflow-y: scroll; */
}
.layout-menu.menu-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.layout-menu .profile-section {
    /* Atur lebar dan tinggi aside sesuai kebutuhan */
    width: 100%;
    height: auto; /* Sesuaikan dengan tinggi konten */
    display: flex;
    flex-direction: column;
    align-items: center; /* Menengahkan elemen horizontal */
    justify-content: flex-start; /* Menyusun elemen di atas */
    padding: 20px; /* Sesuaikan dengan padding yang diinginkan */
    /* Tambahkan style lainnya jika diperlukan */
}
.layout-menu .position-relative {
    position: relative;
    /* Tambahkan style lainnya jika diperlukan */
}

.layout-menu .position-absolute {
    position: absolute;
    /* Atur posisi button edit */
    top: 0;
    right: 0;
    /* Tambahkan style lainnya jika diperlukan */
}
/* Mengatur style untuk checkbox */
    .custom-checkbox-label {
        display: flex;
        align-items: center;
    }

    .custom-checkbox-label input[type="checkbox"] {
        width: 20px; /* Sesuaikan lebar checkbox di sini */
        height: 20px; /* Sesuaikan tinggi checkbox di sini */
        margin-right: 8px; /* Sesuaikan jarak antara checkbox dengan teks di sini */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid #999; /* Warna border checkbox */
        border-radius: 4px; /* Bentuk sudut checkbox */
    }

    .custom-checkbox-label input[type="checkbox"]:checked {
        background-color: #007bff; /* Warna latar belakang checkbox saat dicentang */
        border-color: #007bff; /* Warna border checkbox saat dicentang */
    }

    /* Gaya cursor pointer saat dihover */
    .custom-checkbox-label input[type="checkbox"]:hover {
        cursor: pointer;
    }
    .form-control {
        width: 600px; /* Adjust the width as needed */
    }