<input th:value="${id}" type="hidden" id="deleteCustomerRelationlId">
<table class="table table-borderless" id="confirm">

</table>

<button id="deleteBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteBtn" class="btn btn-danger">Delete</button>

<script src="../customer_relation/delete.js"></script>