<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="nameInput" class="form-control" maxlength="10">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../education_level/create.js"></script>