<input th:value="${id}" type="hidden" id="updateEducationLevelId">
<table class="table table-borderless">
    <tr>
        <td>Nama*</td>
        <td>
            <input id="nameInput" class="form-control" maxlength="10">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-primary">Update</button>
        </td>
    </tr>
</table>

<script src="../education_level/update.js"></script>