<table class="table table-borderless">
    <tr>
        <td>Name</td>
        <td>
            <input id="nameInput" class="form-control" maxlength="100">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Code</td>
        <td>
            <input id="codeInput" class="form-control" maxlength="10">
            <small id="errCode" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addBankBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addBankBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="m_bank/addbank.js"></script>