<script src="../register/set-password.js"></script>
<input th:value="${email}" type="hidden" id="saveEmail">

<div class="col-auto container-fluid justify-content-start">
    <div>Masukkan pasword untuk akun anda</div>
    <br>
    <div class="mb-3">
        <div id="group_password" class="container row">
            <label for="passwordInput">Password</label>
            <div class="col-md">
                <div class="input-group">
                    <input id="passwordInput" type="password" class="form-control" aria-label="Input group example" aria-describedby="basic-addon1">
                    <button class="input-group-text" id="eyeIconRegisterButton">
                        <i id="eyeIconRegister" class="bi bi-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <small id="passwordInputErr" class="text-danger"></small>
        </div>
    </div>
    <div class="mb-3">
        <div id="group_passwordKonfirmasi" class="container row">
            <label for="passwordKonfirmasi">Masukkan ulang password</label>
            <div class="col-md">
                <div class="input-group">
                    <input id="passwordKonfirmasi" type="password" class="form-control" aria-label="Input group example" aria-describedby="basic-addon1">
                    <button class="input-group-text" id="eyeIconKonfirmasiRegisterButton">
                        <i id="eyeIconKonfirmasiRegister" class="bi bi-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <small id="passwordKonfirmasiErr" class="text-danger"></small>
        </div>
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <button id="btnSetPassword" class="btn btn-success">Set Password</button>
    </div>
</div>
