<style>
    .button-container {
    display: flex;
    gap: 10px; /* Jarak antar tombol */
    justify-content: flex-end; /* Menempatkan tombol ke sisi kanan */
}
</style>
<table class="table table-borderless">
    <tr>
        <td>Level Lokasi</td>
        <td>
            <select id="levelSelect" class="form-select">
                <option>--Pilih--</option>
            </select>
            <small id="errlevelSelect" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Wilayah</td>
        <td>
            <select id="areaSelect" class="form-select">
                <option>--Pilih--</option>
            </select>
            <small id="errareaSelect" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>
            <input id="nameInput" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <td></td>
    <tr>
        <td class="button-container">
            <button id="cancelButton" class="btn btn-outline-dark">Cancel</button>
            <button id="addButton" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>
<div id="errorMessageElement"></div>
<script src="../location/addlocation.js"></script>