<table class="table table-borderless">
    <tr>
        <td>Name</td>
        <td>
            <input id="nameInput" class="form-control" maxlength="100">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addPaymentBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addPaymentBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="m_payment_method/addpayment_method.js"></script>