<input th:value="${id}" type="hidden" id="delPaymentId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Name : </th>
        <td id="nameDel">Nama Payment Method</td>
    </tr>
</table>
<button id="delCancelBtn" class="btn btn-outline-dark">Cancel</button>
<button id="delDeleteBtn" class="btn btn-danger">Delete</button>

<script src="m_payment_method/deletepayment_method.js"></script>