<input th:value="${id}" type="hidden" id="editPaymentId">

<table class="table table-borderless">
    <tr>
        <td>Name</td>
        <td>
            <input id="nameInput" class="form-control" maxlength="100">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editPaymentBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editPaymentBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="m_payment_method/editpayment_method.js"></script>