
<table class="table table-borderless">
    <tr>
        <td>Nama Courier</td>
        <td>
            <input id="nameInput" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <td></td>
    <td>
        <button id="addMCourierBtnCancel" class="btn btn-outline-dark">Cancel</button>
        <button id="addMCourierBtnCreate" class="btn btn-primary">Create</button>
    </td>
    </tr>
</table>

<script src="../mcourier/addmcourier.js"></script>