<input th:value="${id}" type="hidden" id="deleteMCourierId">
<!--<h5>Are you sure you want to delete this?</h5>-->

<table class="table table-borderless table-sm">
    <tr>
        <h5>Are you sure you want to delete this?</h5>
        <td id="nameDel">name</td>
    </tr>

</table>
<button id="deleteMCourierBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteMCourierBtnDelete" class="btn btn-danger">Delete</button>

<script src="../mcourier/deletemcourier.js"></script>
