<input th:value="${id}" type="hidden" id="EditMCourierId">

<table class="table table-borderless">

    <tr>
        <td>Nama Courier</td>
        <td>
            <input id="nameInput" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editMCourierBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editMCourierBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editMCourierBtnKonfirmCancel" class="btn btn-outline-dark">NO Back</button>
            <button id="editMCourierBtnKonfirmCreate" class="btn btn-warning">YES Save</button>
        </td>
    </tr>
</table>

<script src="../mcourier/editmcourier.js"></script>