<table class="table table-borderless">
    <tr>
        <td>Nama</td>
        <td>
            <input id="nameInput" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nama Singkat</td>
        <td>
            <input id="singkatInput" class="form-control">
            <small id="errsingkat" class="text-danger"></small>
        </td>
    </tr>
    <td></td>
    <tr>
        <td>
            <button id="cancelButton" class="btn btn-outline-dark">Cancel</button>
            <button id="addButton" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>
<div id="errorMessageElement"></div>
<script src="../locationlevel/addlocationlevel.js"></script>