<table class="table table-borderless table-sm">
    <input th:value="${id}" type="hidden" id="delId">
    <h5 id="deleteConfirmation">Are you sure you want to delete </h5>
    <tr>
        <td colspan="2">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
</table>
<button id="cancelBtn" class="btn btn-outline-dark">Cancel</button>
<button id="deleteBtn" class="btn btn-danger">Delete</button>

<script src="../locationlevel/deletelocationlevel.js"></script>
