<input th:value="${id}" type="hidden" id="editId">
<table class="table table-borderless">
    <tr>
        <td>Nama</td>
        <td>
            <input id="nameEdit" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nama Singkat</td>
        <td>
            <input id="singkatEdit" class="form-control">
            <small id="errsingkat" class="text-danger"></small>
        </td>
    </tr>
    <td></td>
    <tr>
        <td>
            <button id="cancelButton" class="btn btn-outline-dark">Cancel</button>
            <button id="addButton" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../locationlevel/editlocationlevel.js"></script>