
<table class="table table-borderless">

    <tr>
        <td>Kurir</td>
        <td>
            <select name="opsiKurir" id="opsiKurir" class="form-control">
                <option value="" selected="selected" >Pilih Kurir</option>
            </select>
            <small id="errOpsiKurir" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>
            <input id="nameInput" class="form-control">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>

    <td></td>
    <td>
        <button id="addMCourierBtnCancel" class="btn btn-outline-dark">Cancel</button>
        <button id="addMCourierBtnCreate" class="btn btn-primary">Create</button>
    </td>
    </tr>
</table>

<script src="../mcouriertype/addmcouriertype.js"></script>