<input th:value="${id}" type="hidden" id="deleteMCourierTypeId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
    </tr>

</table>
<button id="deleteMCourierTypeBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteMCourierTypeBtnDelete" class="btn btn-danger">Delete</button>

<script src="../mcouriertype/deletemcouriertype.js"></script>
